# IDE
.vscode/
.idea/
*.swp
*.swo

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Build
dist/
tmp/
out/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log

# Docker
.dockerignore

# Tebi keys (never commit!)
backend/.env

*/*.tsbuildinfo